.App-header {
  text-align: center;
  font-size: 45px;
  margin-top: 34px;
  font-weight: bold;
  font-family: "Pacifico", cursive;
}

.app-footer {
  text-align: center;
  margin: 30px 0;
  font-family: monospace;
}

.container {
  background-color: #e9e2ff;
  padding: 10px 50px;
  border-radius: 5px;
  margin-top: 15px;
  max-width: 900px;
}
